.hero-social {
    margin-top: 10vh;
}

.masthead {
    height: 100vh;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.text-center {
    text-align: center !important;
}

.icon-text {
    font-size: 125%;
}