.hero-social {
    margin-top: 5em;
}

.masthead {
    height: 100vh;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.text-center {
    text-align: center !important;
}